*{
    margin:0;
    padding:0;
    text-decoration: none;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.container{
    display:flex;
    height: 100vh;
    /* position: absolute; */
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 300ms ease;
}
.top_section{
    display: flex;
    align-items:center;
    justify-content: center;
    padding:20px 15px;
    color: #fff;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

@media screen and (max-width: 485px) {
    /* styles for screens smaller than 768px */
    .sidebar {
      width: 250px;
    }
  }